# Git ignore list for grails project
*.class
Thumbs.db
.DS_Store
.gradle
build/
out/
.idea
*.iml
*.ipr
*.iws
*.war
.classpath
.DS_Store
.project
.settings
/*.launch
/*.tmproj
/out/**
/docs/**
stacktrace.log
test/reports
/target/**
jetty-env.xml
/files/**
*~
._*
wfp.log
activemq-data/**
/bin/
